<div class="container">
  <div class="row">
    <div class="col ms-1 bg-success">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/0001.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">My name is Jayalal Bagarty, I am from Balangir,Odisha but Now cureently i am in Hyderabad.
                I have good technical Knowledge in Angular and also course certified in angular-13 From NareshIt.
                Now,I am looking for a oppertunity to impliment my learning skill in to real time Angular Project.
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col ms-1 bg-primary">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/0001.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">My name is Jayalal Bagarty, I am from Balangir,Odisha but Now cureently i am in Hyderabad.
                I have good technical Knowledge in Angular and also course certified in angular-13 From NareshIt.
                Now,I am looking for a oppertunity to impliment my learning skill in to real time Angular Project.
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col ms-1 bg-danger">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/0001.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">My name is Jayalal Bagarty, I am from Balangir,Odisha but Now cureently i am in Hyderabad.
                I have good technical Knowledge in Angular and also course certified in angular-13 From NareshIt.
                Now,I am looking for a oppertunity to impliment my learning skill in to real time Angular Project.
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
